# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.env
instance/
*.sqlite
*.db

# Virtual Environments
venv/
env/
ENV/

# Large Binaries / Installers / Temp Files
*.msi
*.exe
*.zip
backups/
*.sql
old.env
temp products/
uploads/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/